*.sublime*
fpga/fpga-placed*
fpga/fpga.bgn
fpga/fpga.bld
fpga/fpga.drc
fpga/fpga.map
fpga/fpga.mrp
fpga/fpga.ncd
fpga/fpga.ngc
fpga/fpga.ngc_xst.xrpt
fpga/fpga.ngd
fpga/fpga.ngm
fpga/fpga.pcf
fpga/fpga_ngdbuild.xrpt
fpga/fpga_par.xrpt
fpga/fpga_summary.xml
fpga/fpga_usage.xml
fpga/netlist.lst
fpga/xlnx_auto_0.ise
fpga/xlnx_auto_0_xdb/
fpga/xst.srp
fpga/xst/

armsrc/obj/*
armsrc/version.c
bootrom/obj/*
bootrom/version.c
client/obj/*.o
client/obj/nonce2key/*.o
client/flasher
client/proxguiqt.moc.cpp
client/proxmark3
liblua/*.o
liblua/liblua.a
liblua/lua
liblua/luac
recovery/*.bin